@light-gray: #ddd;

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-size: inherit;
}

label {
  width: 5rem;
  font-weight: bold;
  text-align: right;
  display: inline-block;

  &::after {
    content: ":"
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.25rem;
}

td {
  border: 1px solid @light-gray;
}
